<!-- loading spinner -->
<div ng-if="status.loading" class="loading container d-flex justify-content-center align-items-center">
	<div class="lds-ellipsis">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>

<!-- error message -->
<div ng-if="status.error" class="error-container">
	<div class="error">
		<div class="card shadow-lg text-center">
			<div class="card-body p-5">
				<i class="fa fa-info-circle error-info text-info mb-4"></i>
				<h5 class="">Something went wrong!</h5>
				<h5 class="mb-5">Please reload the page!</h5>
				<button class="btn btn-block btn-info" ng-click="reloadPage()">Reload</button>
			</div>
		</div>
	</div>
</div>

<!-- delete container -->
	<div class="delete-container" ng-if="showModal">
		<remove-confirm change-modal="changeModal" remove-drink="removeDrink"></remove-confirm>
	</div>

<!-- content of page -->
<div ng-if="!status.loading && !status.error" class="container pt-5" >
	<h2 class="text-center mb-5">Add & remove drinks</h2>
	<div class="row">
		<div class="col-12 col-md-6 order-2 order-md-1">
			<div class="card mb-3 shadow">
				<div class="card-header bg-secondary">
					<h3 class="text-white mb-0">Add new drink</h3>
				</div>
				<div class="card-body">
					<p>Enter new drink name and price, and click to add button.</p>
					<label for="drink-name" class="sr-only">New drink name</label>
  				<input id="drink-name" type="text" class="form-control mb-2" placeholder="Enter new drink name" ng-change="checkNumberTrigger()" ng-model="newDrink.name" add-on-enter>
  				<label for="drink-price" class="sr-only">New drink price</label>
  				<input id="drink-price" type="text" class="form-control mb-2" placeholder="Enter new drink price" ng-change="checkNumberTrigger()" ng-model="newDrink.price" add-on-enter>
    			<button id="add-new-drink" class="btn btn-success btn-block" ng-click="addNewDrinkValidate()">Add new drink</button>
					<p id="already-exist" class="text-danger my-2 dn">Drink with that name already exist!</p>
					<p id="not-a-number" class="text-danger my-2 dn">You must enter a number for price!</p>
					<p id="all-fields" class="text-danger my-2 dn">You must fill all fields!</p>
				</div>
			</div>
			<div class="card mb-3 shadow">
				<div class="card-header bg-secondary">
					<h3 class="text-white mb-0">Remove drink</h3>
				</div>
				<!-- talbes in list, delete show -->
				<div ng-if="drinks.length" class="card-body">
					<p>Chose drink, and click on button to remove.</p>
					<label for="remove-drink" class="sr-only">Select drink to remove</label>
					<div class="input-group">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-lg-8 px-0">
									<select id="remove-drink" class="form-control mb-2 mb-lg-0" ng-model="removeDrinkId.id">
										<option ng-repeat="drink in drinks | orderBy: 'number'" ng-value="drink.id">
											{{drink.name}}, price: {{drink.price}}
										</option>
									</select>
								</div>
								<div class="col-12 col-lg-4 px-0">
									<div class="input-group-append">
										<button class="btn btn-danger btn-block" ng-click="changeModal()">
											Remove drink
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- no tables in list, can't delete -->
				<div ng-if="!drinks.length" class="card-body">
					<h4 class="text-info text-center">No drinks in list.</h4>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 order-1 order-md-2">
			<div class="card mb-3 shadow">
				<div class="card-header bg-secondary">
					<h4 class="h3 text-white">Click on drink to view details</h4>
					<div>
						<label for="find-drink" class="sr-only">Filter drink by name</label>
						<input id="find-drink" class="form-control nbs" type="text" placeholder="Find drink by name" ng-model="searchName" ng-disabled="!drinks.length">
					</div>
				</div>
				<!-- drinks in list, show them -->
				<div class="card-body drinks-container">
					<ul class="drinks">
						<li class="card mb-2 nm-last drinks-list-item" ng-repeat="drink in drinks | filter: searchName">
    					<div class="card-header bg-gradient" id="{{'table' + drink.id}}">
    				  	<h5 class="h4 mb-0">
    			    		<span class="cp text-white" role="button" data-toggle="collapse" ng-attr-data-target="{{'#collapsetable' + drink.id}}" aria-expanded="true" aria-pressed="false" ng-attr-aria-controls="{{'collapsetable' + drink.id}}">
          				{{ drink.name }}
        					</span>
    		  			</h5>
    					</div>
    					<div ng-attr-id="{{'collapsetable' + drink.id}}" class="collapse" ng-attr-aria-labelledby="{{'collapsetable' + drink.id}}">
      					<div class="card-body">
        					<h6>Id: {{drink.id}}</h6>
        					<h6>Price: <input class="edit-price" placeholder="Enter new price" ng-dblclick="editPrice($event, drink.id)" ng-blur="editPriceConfirm($event, drink.id)" type="text" ng-value="drink.price" min="1" size="10" maxlength="10" readonly="true"></h6>
        					<p ng-attr-id="{{'click-info-' + drink.id}}" class="mb-0">Double click on price to edit value.</p>
        					<p ng-attr-id="{{'new-info-' + drink.id}}" class="dn mb-1">New price must be a number. </p>
        					<p ng-attr-id="{{'exit-info-' + drink.id}}" class="dn mb-0">Exit from input to save new price.</p>
      					</div>
    					</div>
    				</li>
    				<!-- filter search have no match, show info message -->
    				<li ng-if="!(drinks | filter: searchName).length && drinks.length" class="drinks-list-item">
    					<h4 class="text-info text-center">No drinks with that name.</h4>
    				</li>
    				<!-- no drinks in list, show info message -->
    				<li ng-if="!drinks.length" class="drinks-list-item">
    					<h4 class="text-info text-center">No drinks in list.</h4>
    				</li>
					</ul>
					<!-- filter search have no match, show info message -->
		<!--	<div ng-if="!(drinks | filter: searchName).length && drinks.length">
						<h4 class="text-info text-center">No drinks with that name.</h4>
					</div>
					<h4 ng-if="!drinks.length" class="text-info text-center">No drinks in list.</h4>
  			</div> -->
  			<!-- no drinks in list, show info message -->
  			<!-- only list info ??? --->
  			<!-- list info sr-only and divs for user info ??? -->
  			<!-- only divs and leave ul empty ??? -->
  			</div>
  		</div>
		</div>
	</div>
</div>

<!-- new price info -->
<div ng-if="newPriceInfoShow" class="new-price-info shadow">
	<div class="card bn">
		<div class="card-header text-center text-white bg-success">
			<h3>{{newPriceName}}</h3>
		</div>
		<div class="card-body text-success bg">
			<h5>New price is set to {{newPriceValue}}</h5>
		</div>
	</div>
</div>

<!-- new price invalid -->
<div id="new-price-invalid" class="new-price-invalid shadow-lg dn">
		<div class="card bn">
			<div class="card-body text-center text-dark bg">
				<i class="fa fa-info-circle error-info text-info mb-4"></i>
				<h3 class="text-info mb-3">Invalid input</h3>
				<h5 class="mb-0">New price must be a number!</h5>
			</div>
		</div>
</div>