<div id="loading" class="loading container d-flex justify-content-center align-items-center">
	<div class="lds-ellipsis">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<div id="content" class="container dn">
	<div class="delete-container" ng-if="showModal">
	</div>
	<!-- remove drink confirm -->
	<!-- how to animate div inside ng-if ??? -->
	<remove-confirm ng-if="showModal" change-modal="changeModal" remove-drink="removeDrink"></remove-confirm>
	<h2 class="text-center my-4">Add & remove drinks</h2>
	<div class="row">
		<div class="col-12 col-sm-6">
			<div class="card mb-3">
				<div class="card-header bg-secondary">
					<h3 class="text-white mb-0">Add new drink</h3>
				</div>
				<div class="card-body">
					<p>Enter new drink name and price, and click to add button.</p>
  				<input id="drink-name" type="text" class="form-control mb-2" placeholder="Enter new drink name" ng-change="checkNumberTrigger()" ng-model="newDrink.name" add-on-enter>
  				<input id="drink-price" type="text" class="form-control mb-2" placeholder="Enter new drink price" ng-change="checkNumberTrigger()" ng-model="newDrink.price" add-on-enter>
    			<button id="add-new-drink" class="btn btn-info btn-block" ng-click="addNewDrinkValidate()">Add new drink</button>
					<p id="already-exist" class="text-danger my-2 dn">Drink with that name already exist!</p>
					<p id="not-a-number" class="text-danger my-2 dn">You must enter a number for price!</p>
					<p id="all-fields" class="text-danger my-2 dn">You must fill all fields!</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header bg-secondary">
					<h3 class="text-white mb-0">Remove drink</h3>
				</div>
				<!-- talbes in list, delete show -->
				<div ng-if="drinks.length" class="card-body">
					<p>Chose drink, and click on button to remove.</p>
					<div class="input-group">
						<select class="form-control" ng-model="removeDrinkId.id">
							<option ng-repeat="drink in drinks | orderBy: 'number'" ng-value="drink.id">
								{{drink.name}},
								price: {{drink.price}}
							</option>
						</select>
						<div class="input-group-append">
							<button class="btn btn-danger" ng-click="changeModal()">
  							Remove drink
							</button>
						</div>
					</div>
				</div>
				<!-- no tables in list, can't delete -->
				<div ng-if="!drinks.length" class="card-body">
					<p>No drink in list.</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<div class="card">
				<div class="card-header bg-secondary">
					<h4 class="h3 text-white">Click on drink to view details</h4>
					<div>
						<input class="form-control nbs" type="text" placeholder="Find drink by name" ng-model="searchName">
					</div>
				</div>
				<div class="card-body drinks-container">
					<ul class="drinks">
						<li class="card mb-2 nm-last drinks-list-item" ng-repeat="drink in drinks | filter: searchName">
    					<div class="card-header bg-gradient" id="{{'table' + drink.id}}">
    				  	<h5 class="h4 mb-0">
    			    		<span class="cp text-white" role="button" data-toggle="collapse" ng-attr-data-target="{{'#collapsetable' + drink.id}}" aria-expanded="true" aria-pressed="false" ng-attr-aria-controls="{{'collapsetable' + drink.id}}">
          				{{ drink.name }}
        					</span>
    		  			</h5>
    					</div>
    					<div ng-attr-id="{{'collapsetable' + drink.id}}" class="collapse" ng-attr-aria-labelledby="{{'collapsetable' + drink.id}}">
      					<div class="card-body">
        					<h6>Id: {{drink.id}}</h6>
        					<h6>Price: <input class="edit-price" placeholder="Enter new price" ng-dblclick="editPrice($event, drink.id)" ng-blur="editPriceConfirm($event, drink.id)" type="text" ng-value="drink.price" min="1" size="10" maxlength="10" readonly="true"></h6>
        					<p ng-attr-id="{{'click-info-' + drink.id}}" class="mb-0">Double click on price to edit value.</p>
        					<p ng-attr-id="{{'new-info-' + drink.id}}" class="dn mb-1">New price must be a number. </p>
        					<p ng-attr-id="{{'exit-info-' + drink.id}}" class="dn mb-0">Exit from input to save new price.</p>
      					</div>
    					</div>
    				</li>
					</ul>
  			</div>
  		</div>
		</div>
	</div>
</div>
<!-- new price info -->
<div ng-if="newPriceInfoShow" class="new-price-info shadow">
	<div class="card bn">
		<div class="card-header text-center text-white bg-success">
			<h3>{{newPriceName}}</h3>
		</div>
		<div class="card-body text-success bg">
			<h5>New price is set to {{newPriceValue}}</h5>
		</div>
	</div>
</div>
<!-- new price invalid -->
<div id="new-price-invalid" class="new-price-invalid w-25 shadow dn">
	<div class="card bn">
		<div class="card-header text-center text-danger">
			<h3>Invalid input</h3>
		</div>
		<div class="card-body text-center text-dark bg">
			<h5>New price must be a number!</h5>
		</div>
	</div>
</div>