<div class="delete-drink">
	<div class="card">
    <div class="card-header">
      <h5 class="h4 text-center">Remove {{ drink.name }} from list?</h5>
    </div>
    <div class="card-body">
      <p>If you want to remove drink click ok, otherwise click cancel.</p>
      <div class="text-center">
        <button class="btn btn-success" ng-click="callChangeModal(); callRemoveDrink()" aria-label="Close">Ok</button>
				<button type="button" ng-click="callChangeModal()" class="btn btn-danger" aria-label="Close">Cancel</button>
      </div>
    </div>
  </div>
</div>