<div class="card">
  <div class="card-header">
   	<h3>Choose drink & quantity:</h3>
 	</div>
  <div class="card-body">
    <select class="form-control mb-3" ng-options="drink as drink.name for drink in $ctrl.drinks track by drink.id" ng-model="$ctrl.orderDrink.drink">
		</select>
		<select class="form-control mb-3" ng-options="number as number for number in $ctrl.numbers track by number" ng-model="$ctrl.orderNumber.number"></select>
		<button class="form-control btn btn-outline-success mb-3" ng-click="$ctrl.addOrderDrink()">Add order</button>
		<button ng-disabled="!$ctrl.table.orders.length" class="form-control btn btn-outline-info mb-3" ng-click="$ctrl.removeOrderDrink()">Remove order</button>
		<button class="form-control btn btn-outline-danger" ng-click="$ctrl.changeStatus($ctrl.table.number)">Close table</button>
  </div>
</div>